<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learning_camp.mapper.DynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.learning_camp.entity.Dynamic">
        <id column="dynamic" property="dynamic" />
        <result column="plan_id" property="planId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="date" property="date" />
        <result column="img_path" property="imgPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dynamic, plan_id, user_id, content, date, img_path
    </sql>

</mapper>
