<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learning_camp.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.learning_camp.entity.Feedback">
        <id column="feedback_id" property="feedbackId" />
        <result column="eu_id" property="euId" />
        <result column="opinion_type" property="opinionType" />
        <result column="nect" property="nect" />
        <result column="tel" property="tel" />
        <result column="img_path" property="imgPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        feedback_id, eu_id, opinion_type, nect, tel, img_path
    </sql>

</mapper>
