<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learning_camp.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.learning_camp.entity.Item">
        <id column="item_id" property="itemId" />
        <result column="item_name" property="itemName" />
        <result column="item_duration" property="itemDuration" />
        <result column="item_content" property="itemContent" />
        <result column="item_price" property="itemPrice" />
        <result column="item_img" property="itemImg" />
        <result column="item_url" property="itemUrl" />
        <result column="dept_id" property="deptId" />
        <result column="priority_number" property="priorityNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item_id, item_name, item_duration, item_content, item_price, item_img, item_url, dept_id, priority_number
    </sql>

</mapper>
